<h3 align="center"> Meus projetos </h3>

<p align="center"> Aqui se encontra a lista de todos os projetos que você já cadastrou em nossa plataforma! Para ver as propostas
feitas para cada um deles, clique sobre seu título. </p>
<hr>

<p> <%= 'Nenhum projeto cadastrado' if @projects.empty? %></p>

<p><% @projects.each do |project|%>
    <p><%= link_to project.title, project%> <BR>
    - Descrição: <%= project.description%> <BR>
    - Habilidades buscadas: <%= project.skills %></p>
    - Status: <%= Project.enum_translation(:status, project.status)%>
    <% if project.project_applications.count == 0%>
        - Esse projeto ainda não recebeu propostas
    <% else %>
        - Propostas para esse projeto: <%= project.project_applications.count%>
    <% end %>
    
    <%end%></p>