<h1 align="center"> Cadastre seu projeto </h1>

<p> Preencha abaixo os dados de seu projeto.</p>

<%= form_with model: @project do |f| %>

<div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <li><FONT COLOR="#ff0000"><%= @project.errors.full_messages_for(:title).to_sentence if (not @project.nil?) and (@project.errors.any?) %></li></FONT>
</div>

<div>
    <%= f.label :skills %>
    <%= f.text_field :skills %>
    <li><FONT COLOR="#ff0000"><%= @project.errors.full_messages_for(:skills).to_sentence if (not @project.nil?) and (@project.errors.any?) %></li></FONT>
</div>

<div>
    <%= f.label :hour_value %>
    <%= f.number_field :hour_value %>
    <li><FONT COLOR="#ff0000"><%= @project.errors.full_messages_for(:hour_value).to_sentence if (not @project.nil?) and (@project.errors.any?) %></li></FONT>
</div>

<div>
    <%= f.label :date_limit %>
    <%= f.date_field :date_limit %>
    <li><FONT COLOR="#ff0000"><%= @project.errors.full_messages_for(:date_limit).to_sentence if (not @project.nil?) and (@project.errors.any?) %></li></FONT>
</div>

<div>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <li><FONT COLOR="#ff0000"><%= @project.errors.full_messages_for(:description).to_sentence if (not @project.nil?) and (@project.errors.any?) %></li></FONT>
</div>

<div>
    <%= f.label :work_regimen %>
    <%= f.select :work_regimen, [['Remoto', :remoto], ['Presencial', :presencial], ['Híbrido', :híbrido]] %>
    <li><FONT COLOR="#ff0000"><%= @project.errors.full_messages_for(:work_regimen).to_sentence if (not @project.nil?) and (@project.errors.any?) %></li></FONT>
</div>

    <%= f.submit 'Finalizar cadastro' %>
<%end%>