<h2 align="center"> <%= @project.title %> </h2>
<h3> <%= @project.description %> </h3>
<div>
<dl>

  <dt>Status do projeto: </dt>
  <dd><%= Project.enum_translation(:status, @project.status) %></dd>

  <dt>Habilidades buscadas:</dt>
  <dd><%= @project.skills %></dd>

  <dt>Valor máximo por hora:</dt>
  <dd><%= number_to_currency(@project.hour_value) %></dd>

  <dt>Data limite para propostas:</dt>
  <dd><%= l @project.date_limit %></dd>

  <dt>Regime de trabalho:</dt>
  <dd><%= @project.work_regimen %></dd>

  <dt>Dono do projeto:</dt>
  <dd><%= link_to @project.user.email %></dd>

</dl>

<% if current_user%>
  <%= link_to 'Editar dados do projeto' %> ||
  <%= link_to 'Ver propostas para esse projeto' %> 
<% end %>

<% if current_professional %>
  <hr>
  <h3 align="center"> Enviar uma proposta para esse projeto. </h3>

  <%= form_with model: [@project, @project_application] do |f| %>
    
    <div>
      <%= f.label :motivation%>
      <%= f.text_field :motivation%>
      <li><FONT COLOR="#ff0000"><%= @project_application.errors.full_messages_for(:motivation).to_sentence if (not @project_application.nil?) and (@project_application.errors.any?) %></li></FONT>
    </div>

    <div>
      <%= f.label :expected_payment%>
      <%= f.number_field :expected_payment%>
      <li><FONT COLOR="#ff0000"><%= @project_application.errors.full_messages_for(:expected_payment).to_sentence if (not @project_application.nil?) and (@project_application.errors.any?) %></li></FONT>
    </div>

    <div>
      <%= f.label :weekly_hours%>
      <%= f.number_field :weekly_hours%>
      <li><FONT COLOR="#ff0000"><%= @project_application.errors.full_messages_for(:weekly_hours).to_sentence if (not @project_application.nil?) and (@project_application.errors.any?) %></li></FONT>
    </div>

    <div>
      <%= f.label :expected_conclusion%>
      <%= f.text_field :expected_conclusion%>
      <li><FONT COLOR="#ff0000"><%= @project_application.errors.full_messages_for(:expected_conclusion).to_sentence if (not @project_application.nil?) and (@project_application.errors.any?) %></li></FONT>
    </div>

    <%= f.submit 'Enviar proposta' %>
  <% end %>
<% end %>