<h3> Rejeição de proposta </h3>

<p> Para rejeitar a proposta, preencha abaixo com o motivo da rejeição: </p>

<%= form_with(model: @project_application, url: reject_project_application_path) do |form| %>
    <%= form.label :reject_message %>
    <%= form.text_field :reject_message %>
    <li><FONT COLOR="#ff0000"><%= @project_application.errors.full_messages_for(:reject_message).to_sentence if (not @project_application.nil?) and (@project_application.errors.any?) %></li></FONT>
    <%= form.submit 'Rejeitar proposta' %>
<% end %>