<!DOCTYPE html>
<html>
  <head>
    <title>Freelancers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
      <% if professional_signed_in? %> 
          <p align="right"><%= current_professional.email %></li> ||
          <%= link_to 'Buscar projetos' %> ||
          <% if current_professional.profile.nil? or current_professional.profile.invalid? %>
            <%= link_to 'Meu perfil',  new_profile_path %> ||
          <% else %>
            <%= link_to 'Meu perfil',  profile_path(current_professional.profile.id)%> ||
          <% end %>
          <%= link_to 'Meus projetos'%> ||
          <%= link_to 'Sair', destroy_professional_session_path, method: :delete %></p>
          <hr>
      <% elsif user_signed_in? %>
          <p align="right"><%= current_user.email %> ||
          <%= link_to 'Cadastrar um novo projeto' %> ||
          <%= link_to 'Meus projetos' %> ||
          <%= link_to 'Sair', destroy_user_session_path, method: :delete %><p> 
          <hr>
      <% else %>
        <p align="right"><%= link_to 'Entrar como profissional', new_professional_session_path %> || 
        <%= link_to 'Entrar como usuário', new_user_session_path %></p>
        <hr>
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
